In [19]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from bince_encoding import bince_encoding
from classification import classification
from frequency_encoding import frequency_encoding
# from calculate_time import calculate_time
import time

In [20]:
df=pd.read_csv('./data/balance-scale.csv')

In [21]:
df.head()

  Class  L-Weight  L-Distance  R-Weight  R-Distance
0     B         1           1         1           1
1     R         1           1         1           2
2     R         1           1         1           3
3     R         1           1         1           4
4     R         1           1         1           5

In [22]:
y=df['Class']
df.drop(['Class'],axis=1,inplace=True)
X=df

In [23]:
dict_x=X.to_dict()

In [24]:
data=frequency_encoding(dict_x)

In [25]:
X=pd.DataFrame(data)
y=LabelEncoder().fit_transform(y)

In [26]:
X['encoded_string']=X.apply(lambda row: ''.join(map(str, row)), axis=1)

In [27]:
X.head()

  L-Weight L-Distance R-Weight R-Distance encoded_string
0      000        000      000        000   000000000000
1      000        000      000        001   000000000001
2      000        000      000        011   000000000011
3      000        000      000        111   000000000111
4      000        000      000        111   000000000111

In [28]:
print(y)

[0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 0 2 2 2 0 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 0 2 2 1 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 1 1 1 0 2 1 0 2 2 2 1 2 2 2 2 0 2 2 2 2 2 2 2 2 2 1 1 1 1 0 1 1 2 2 2 1
 2 2 2 2 1 2 2 2 2 0 2 2 2 2 1 0 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 1 1 1 0 2 1 0 2 2 2 1 2 2 2 2 0 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 0 2 2
 1 0 2 2 2 1 2 2 2 2 1 2 2 2 2 1 1 1 1 1 1 1 1 0 2 1 1 2 2 2 1 0 2 2 2 1 2
 2 2 2 1 1 1 1 1 1 1 1 1 0 1 1 1 2 2 1 1 2 2 2 1 0 2 2 2 1 1 0 2 2 1 2 2 2
 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 0 2 2 1 0 2 2 2 1 2 2 2 2 1
 2 2 2 2 1 1 1 1 1 1 1 1 1 2 1 1 0 2 2 1 1 2 2 2 1 2 2 2 2 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 2 1 1 0 2 2 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 2 2
 1 1 0 2 2 1 1 1 0 2 1 0 2 2 2 1 2 2 2 2 0 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1
 1 0 2 1 1 2 2 2 1 0 2 2 2 1 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 0 2 1 1 0 2
 2 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 2 1 1 1 2 2 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 2 1 1 1 1 0 1 1 2 2 2 1 2 2 2 2 1 2 2
 2 2 0 2 2 2 2 1 1 1 1 1 1 1 1 1 0 1 1 1 2 2 1 1 2 2 2 1 0 2 2 2 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 0 1 1 1 2 2 1 1 0 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 0 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0]

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=12)

In [30]:
X_train=X_train.to_dict()

In [31]:
training_data={}
count=0
for i,(key,value) in enumerate(X_train['encoded_string'].items()):
    if value in training_data:
        if training_data[value]!=y_train[i]:
#             print("Encoding is not good")
            count+=1
    training_data[value]=y_train[i]
# print(count)

In [32]:
testing_data={}
for i,(key,value) in enumerate(X_test['encoded_string'].items()):
    testing_data[value]=y_test[i]

In [33]:
start_time = time.time()
accuracy=classification(training_data,testing_data,12)
end_time =  time.time()
execution_time =  end_time - start_time
print("Execution time:", execution_time, "seconds")

0.8582677165354331
Execution time: 0.04727625846862793 seconds

In [34]:
print(accuracy)

0.8582677165354331