In [5]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from bince_encoding import bince_encoding
from classification import classification
from frequency_encoding import frequency_encoding
#from calculate_time import calculate_time
import time

In [6]:
df=pd.read_csv('./data/BankNote_Authentication.csv')

In [7]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [8]:
y=df['class']
df.drop(['class'],axis=1,inplace=True)
X=df

In [9]:
dict_x=X.to_dict()

In [10]:
data=frequency_encoding(dict_x)

In [11]:
X=pd.DataFrame(data)
y=LabelEncoder().fit_transform(y)

In [12]:
X['encoded_string']=X.apply(lambda row: ''.join(map(str, row)), axis=1)

In [13]:
X.head()

  variance skewness curtosis entropy encoded_string
0      111      111      000     011   111111000011
1      111      111      000     001   111111000001
2      111      000      011     011   111000011011
3      111      111      000     000   111111000000
4      001      000      111     001   001000111001

In [14]:
print(y)

[0 0 0 ... 1 1 1]

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=12)

In [16]:
X_train=X_train.to_dict()

In [17]:
training_data={}
count=0
for i,(key,value) in enumerate(X_train['encoded_string'].items()):
    if value in training_data:
        if training_data[value]!=y_train[i]:
            print("Encoding is not good")
            count+=1
    training_data[value]=y_train[i]
print(count)

Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
Encoding is not good
17

In [18]:
testing_data={}
for i,(key,value) in enumerate(X_test['encoded_string'].items()):
    testing_data[value]=y_test[i]

In [19]:
start_time = time.time()
accuracy=classification(training_data,testing_data,12)
end_time = time.time()
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")

0.9540229885057471
Execution time: 0.04809165000915527 seconds

In [20]:
print(accuracy)

0.9540229885057471