In [18]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from bince_encoding import bince_encoding
from classification import classification
from frequency_encoding import frequency_encoding

In [19]:
df=pd.read_csv('./data/diabetes.csv')

In [20]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [21]:
y=df['Outcome']
df.drop(['Outcome'],axis=1,inplace=True)
X=df
X.drop(['Pregnancies','SkinThickness','BMI'],axis=1,inplace=True)

In [22]:
dict_x=X.to_dict()

In [23]:
data=frequency_encoding(dict_x)

In [24]:
X=pd.DataFrame(data)
y=LabelEncoder().fit_transform(y)

In [25]:
X['encoded_string']=X.apply(lambda row: ''.join(map(str, row)), axis=1)

In [26]:
X.head()

  Glucose BloodPressure Insulin DiabetesPedigreeFunction  Age   encoded_string
0     111           011     001                      111  111  111011001111111
1     000           001     001                      001  011  000001001001011
2     111           001     001                      111  011  111001001111011
3     000           001     011                      000  000  000001011000000
4     011           000     111                      111  011  011000111111011

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=12)

In [28]:
print(X_train)

    Glucose BloodPressure Insulin DiabetesPedigreeFunction  Age  \
360     111           001     111                      011  011
655     111           000     111                      000  001
323     111           111     001                      111  111
205     001           011     001                      011  001
111     111           001     111                      011  111
..      ...           ...     ...                      ...  ...
642     111           111     001                      000  111
241     000           001     011                      011  000
253     000           001     001                      000  001
390     001           001     111                      011  111
667     001           001     001                      000  011

      encoded_string
360  111001111011011
655  111000111000001
323  111111001111111
205  001011001011001
111  111001111011111
..               ...
642  111111001000111
241  000001011011000
253  000001001000001
390  001001111011111
667  001001001000011

[537 rows x 6 columns]

In [29]:
X_train=X_train.to_dict()

In [30]:
training_data={}
count=0
for i,(key,value) in enumerate(X_train['encoded_string'].items()):
    if value in training_data:
        if training_data[value]!=y_train[i]:
#             print("Encoding is not good")
#             print(value,training_data[value])
            count+=1
    training_data[value]=y_train[i]
# print(count)

In [31]:
print(len(training_data))

324

In [32]:
testing_data={}
for i,(key,value) in enumerate(X_test['encoded_string'].items()):
    testing_data[value]=y_test[i]

In [33]:
print(len(testing_data))

179

In [34]:
import time
start_time = time.time()
accuracy=classification(training_data,testing_data,15)
end_time = time.time()
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")
print(accuracy)

0.6871508379888268
Execution time: 0.43497443199157715 seconds
0.6871508379888268