In [4]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from bince_encoding import bince_encoding
from classification import classification
from frequency_encoding import frequency_encoding

In [5]:
df=pd.read_csv('./data/predictive_maintenance.csv')

In [6]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [7]:
y=df['Target']
df.drop(['Target'],axis=1,inplace=True)
X=df
X.drop(['UDI','Product ID','Type','Failure Type'],axis=1,inplace=True)

In [8]:
dict_x=X.to_dict()

In [9]:
data=frequency_encoding(dict_x)

In [10]:
X=pd.DataFrame(data)
y=LabelEncoder().fit_transform(y)

In [11]:
X['encoded_string']=X.apply(lambda row: ''.join(map(str, row)), axis=1)

In [12]:
X.head()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],encoded_string
0,000,000,011,011,000,000000011011000
1,000,000,000,011,000,000000000011000
2,000,000,001,111,000,000000001111000
3,000,000,001,001,000,000000001001000
4,000,000,000,001,000,000000000001000

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=12)

In [14]:
print(X_train)

     Air temperature [K] Process temperature [K] Rotational speed [rpm]  \
6097                 011                     011                    001
6704                 111                     011                    011
9844                 001                     001                    001
9731                 001                     001                    000
6183                 011                     011                    001
...                  ...                     ...                    ...
3714                 111                     111                    111
7409                 001                     011                    111
3325                 111                     011                    011
9606                 001                     011                    000
5787                 111                     111                    011

     Torque [Nm] Tool wear [min]   encoded_string
6097         001             000  011011001001000
6704         001             001  111011011001001
9844         001             000  001001001001000
9731         111             011  001001000111011
6183         001             000  011011001001000
...          ...             ...              ...
3714         000             000  111111111000000
7409         000             111  001011111000111
3325         001             011  111011011001011
9606         011             001  001011000011001
5787         001             011  111111011001011

[7000 rows x 6 columns]

In [15]:
X_train=X_train.to_dict()

In [16]:
training_data={}
count=0
for i,(key,value) in enumerate(X_train['encoded_string'].items()):
    if value in training_data:
        if training_data[value]!=y_train[i]:
#             print("Encoding is not good")
#             print(value,training_data[value])
            count+=1
    training_data[value]=y_train[i]
# print(count)

In [17]:
print(len(training_data))

510

In [18]:
testing_data={}
for i,(key,value) in enumerate(X_test['encoded_string'].items()):
    testing_data[value]=y_test[i]

In [19]:
print(len(testing_data))

444

In [20]:
import time
start_time = time.time()
accuracy=classification(training_data,testing_data,15)
end_time = time.time()
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")

0.9617117117117117
Execution time: 0.43197083473205566 seconds